<html>

<head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Reggie">
        <meta name="description" content="">
        <link rel="icon" href="../assets/images/myta-red.png">
        <title>Myta - My Travel Assistant</title>
    
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
    
        <!-- Contribute CSS Files -->
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/icofont.min.css">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/menuzord.css">
    
        <!-- Custom CSS and Font Files -->
        <link rel="stylesheet" href="../style/footer.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <!-- <link rel="stylesheet" href="assets/css/responsive.css"> -->
</head>

<body>
    <div class="myta-footer section-padding">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="text-align: left">
                    <div class="footer-text">
                        <p>myta.ai</p>
                        <p>+62800000000</p>
                        <p>mailto@myta.ai</p>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align: right">
                    <p>Contact Us</p>
                    <div class="footer-social m-t-10">
                        <a style="margin: 10px"><img src="../assets/images/socmed/001-whatsapp.png"></a>
                        <a style="margin: 10px"><img src="../assets/images/socmed/002-line.png"></a>
                        <a style="margin: 10px"><img src="../assets/images/socmed/003-telegram.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>