html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Lato', sans-serif !important;
}

.center{
    text-align: center;
  }
  
  .left{
      text-align: left;
  }
  
  .right{
      text-align: right;
  }

.title-text{
  display: inline-flex;
  position: relative;
  height: 82px;
}

.cont-header{
    width: 100%;
    height: 50px;
}

#myta-text{
    position: relative;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.56;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ff7677;
    z-index: 9999;
  }

#myta-text{
  margin-top: 30px;
}

#banner-title{
  position: relative;
  width: 25%;
  color: #ffff;
  background: #3199c5;
  border: none;
  border-radius: 20px;
  height: 35px;
  top: 10px;
}

#banner-title p{
  color: #ffff;
  font-weight: bold;
  font-family: 'Poppins','sans-serif';
  font-size: 15px;
}

.myta-cloud p{
  font-family: 'Poppins', 'sans-serif';
  color: #ffff;
  font-size: 26px;
  font-weight: bold;
  margin: 10px;
}

#hotel-img{
    width: 825px;
    height: 535px;
}

#btn-book{
    font-family: 'Poppins', 'sans-serif';
    margin: 10px;
    border-radius: 15px;
    background: #3199c5;
    width: 140px;
    height: 40px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

#btn-book a{
    color: #ffff;
}

#btn-book:hover{
    background: blueviolet;
}

.slider {
    width: 90%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

.slide img{
    width: 100px;
    height: 100px;
}
  
  .slide {
    width: 105px;
    flex-shrink: 0;
    height: 100%;
  }
  
  .slides > div {
    scroll-snap-align: start;
  }

.hotel-detail{
    display: flex;
    font-family: "Poppins script=all rev=1";
    font-size: 16px;
}

.hotel-detail p{
  color: #3199c5;
}

#map{
    height: 266px;
}

.myta-upper{
  background-image: url("../../assets/images/background-cloud.png");
}

.myta-footer{
  background: linear-gradient(to bottom, #3161a3, #193152);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.myta-footer p{
  color: #ffff;
  font-size: 16px;
}

.footer-text p{
  margin: 10px;
}

.footer-social {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.socmed-btn{
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 65px;
}

/* --- Scrollbar Design --- */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}



/*------------------------------------------------------------------
    Reset
--------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', sans-serif;
  line-height: 60px;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #717171;
  margin-bottom: 0px;
}
a,
button,
.btn {
  outline: none!important;
  text-decoration: none!important;
  color: #C2A275;
  transition: all 0.4s ease-in-out 0s;
}
a:hover,
button:hover,
.btn:hover,
a:focus,
button:focus,
.btn:focus,
a.active,
button.active,
.btn.active {
  color: #000;
  outline: none!important;
  text-decoration: none!important;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
/*------------------------------------------------------------------
    Global
--------------------------------------------------------------------*/
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.display-inline {
  display: inline!important;
}
.section-padding {
  padding: 25px 0px;
}
.border-1px {
  border: 1px solid #eaeaea;
}
.border-2px {
  border: 2px solid #eaeaea;
}
.text-link {
  display: inline-block;
  color: #C2A275;
}
.text-link:hover,
.text-link:focus,
.text-link.active {
  color: #916f40;
}
.border-1px {
  border: 1px solid #e8e8e8;
}
.b-b-1px {
  border-bottom: 1px solid #e8e8e8;
}
.radious {
  border-radius: 5px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-b-33 {
  margin-bottom: 33px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-t-33 {
  margin-top: 33px;
}
.m-t-55 {
  margin-top: 55px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-l-10{
    margin-left: 10px;
}
.m-l-7 {
  margin-left: 7px;
}
.m-b-65 {
  margin-bottom: 65px;
}
.m-r-7 {
  margin-right: 7px;
}
.m-r-14 {
  margin-right: 14px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-28 {
  margin-top: 28px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-t-42 {
  margin-top: 42px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-27 {
  margin-bottom: 27px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-t-17 {
  margin-top: 17px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-80 {
  margin-top: 80px;
}
.m-t-95 {
  margin-top: 95px;
}
.m-b-100 {
  margin-bottom: 100px;
}
.m-t-70 {
  margin-top: 70px;
}
.m-t-38 {
  margin-top: 38px;
}
.w-150 {
  width: 148px;
  display: inline-block;
  float: left;
}
.p-35 {
  padding: 35px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-40 {
  padding: 40px;
}
.p-t-95 {
  padding-top: 95px;
}
.p-b-87 {
  padding-bottom: 87px;
}
.p-b-80 {
  padding-bottom: 80px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-l-10 {
  padding-left: 10px;
}
.m-l-100 {
  margin-left: 100px;
}
.gold-color {
  color: #C2A275;
}
.p-l-70 {
  padding-left: 70px;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-l-0 {
  padding-left: 0px;
}